<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Da_Modular_Application</title>
        <script src="https://kit.fontawesome.com/cd832cb986.js"></script>
        <link rel="stylesheet" href="~/css/home.css"/>
        <link rel="stylesheet" href="~/css/Login.css"/>
        <link rel="stylesheet" href="~/css/_layout.css"/>
        <link rel="stylesheet" href="~/css/lokality.css">
        <link rel="stylesheet" href="~/css/odstavky.css">
    </head>

    <body>
        @if(User.Identity?.IsAuthenticated==true)   
        {
            
            <div class="Content">
                <div class="sidemenu">
                    <div class="s1">
                        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
                    </div>
                    <div class="s2">
                        <div id="sidebaroption">
                            <div class="sidebaroption">
                                <input class="s-c top" type="radio" name="platform" value="Home">
                                <input class="s-c bottom" type="radio" name="platform" value="Home">
                                <i class="fa-solid fa-house-chimney-window"></i>
                                <span class="sb">Home</span>  
                                <span class="sb-val">Home</span>
                            </div>
                        
                            <div class="sidebaroption">
                                <input class="s-c top" type="radio" name="platform" value="Lokality">
                                <input class="s-c bottom" type="radio" name="platform" value="Lokality">
                                <i class="fa-solid fa-tower-broadcast"></i>
                                <span class="sb">Lokality</span>  
                                <span class="sb-val">Lokality</span>
                            </div>
                        
                            <div class="sidebaroption">
                                <input class="s-c top" type="radio" name="platform" value="Odstávky">
                                <input class="s-c bottom" type="radio" name="platform" value="Odstávky">
                                <i class="fa-solid fa-bolt"></i>
                                <span class="sb">Odstávky</span>  
                                <span class="sb-val">Odstávky</span>
                            </div>
                        
                            <div id="sidebaroption-bg"></div>
                        </div>
                    </div>
            
                </div>

                <div class="main">

                    <div class="header">
                        <nav id="navbar">
                           
                            <section class="section-input-user">
                                <i id="toggle-icon" class="fa-solid fa-bars fa-2xl"></i>
                                <section class="section-wrap">
                                    <input id="wrapinput" type="text" placeholder="Search...">
                                    <div class="user-icon wrap">
                                        <i class="fa-solid fa-user"></i>
                                    </div>
                                    <ul class="list-wrapdropdown">
                                        <li class="dropdown-item list">
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-solid fa-circle fa-2xs" style="color: #f7b100;"></i>Profil
                                            </a>
                                        </li>
                                        <li class="dropdown-item list">
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-solid fa-circle fa-2xs" style="color: #cafc74;"></i>Nastavení
                                            </a>
                                        </li>
                                        <li class="dropdown-item list">
                                            <a class="dropdown-item" href="#">
                                                <i class="fa-solid fa-circle fa-2xs" style="color: #74C0FC;"></i>Podpora
                                            </a>
                                        </li>
                                        <li class="dropdown-divider"></li>
                                        <li class="dropdown-item list">

                                            <a asp-action="Logout" asp-controller="Login">
                                                <i class="fa-solid fa-circle fa-2xs" style="color: #fc7474;"></i>Odhlásit se
                                            </a>

                                        </li>
                                    </ul>
                                </section>

                               
                                <div class="user-icon">
                                    <i class="fa-solid fa-user"></i>
                                </div>

                            <div id="app-cover">
                                    <div id="select-box">
                                        <i class="fa-solid fa-caret-down dropdown-toggle-icon" id="userCaret"></i>
                                        <input type="checkbox" id="options-view-button">
                                        
                                        <div id="options">
                                            <div class="option">
                                                <input class="s-c top" type="radio" name="platform" value="Profil">
                                                <input class="s-c bottom" type="radio" name="platform" value="Profil">
                                                <i class="fa-solid fa-user"></i>
                                                <span class="label">Profil</span>  
                                                <span class="opt-val">Profil</span>
                                            </div>
                                    
                                        
                                            <div class="option">
                                                <input class="s-c top" type="radio" name="platform" value="Nastavení">
                                                <input class="s-c bottom" type="radio" name="platform" value="Nastavení">
                                                <i class="fa-solid fa-gear"></i>
                                                <span class="label">Nastavení</span>  
                                                <span class="opt-val">Nastavení</span>
                                            </div>
                                    
                                    
                                            <div class="option">
                                                <input class="s-c top" type="radio" name="platform" value="Podpora">
                                                <input class="s-c bottom" type="radio" name="platform" value="Podpora">
                                                <i class="fa-solid fa-circle-info"></i>
                                                <span class="label">Podpora</span>  
                                                <span class="opt-val">Podpora</span>
                                            </div>
                                    
                                    
                                            <div class="option">
                                                <input  class="s-c top" type="radio" name="platform" value="OdhlásitSe">
                                                <input class="s-c bottom" type="radio" name="platform" value="OdhlásitSe">
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                                <span class="label">Odhlásit se</span>  
                                                <span class="opt-val">Odhlásit se</span>
                                            </div>
                                
                                        </div>
                                        <div id="option-bg"></div>
                                    </div>
                                    
                                </div>

                            </section>
                        </nav>
                    </div> 
           
                            
                    @if(User.Identity?.IsAuthenticated==true)
                    {
                         @RenderBody()
                    }

                </div>

                  
                       
                   
                
            </div> 
        }  
             @RenderBody()
            
            @await RenderSectionAsync("Scripts", required: false)

       
        @if (User.Identity?.IsAuthenticated == true)
        {

            <footer>
                <ul class="ul-footer">
                    <li class="nav-footer"><a class="a-text" href="#" >Home</a></li>
                    <li class="nav-footer"><a class="a-text" href="#" >Lokality</a></li>
                    <li class="nav-footer"><a class="a-text" href="#" >Odstávky</a></li>
                    <li class="nav-footer"><a class="a-text" href="#" >Kontaky</a></li>
                    <li class="nav-footer"><a class="a-text" href="#" >About</a></li>
                </ul>
                <p >© 2024 Company, Inc</p>
                <button id="theme-toggle" class="theme-toggle">
                    <i class="fa-solid fa-adjust"></i>
                </button>
            </footer>
        }
    <script src="~/js/home.js"></script>
    </body>
        
</html>
