<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Da_Modular_Application</title>
        <script src="https://kit.fontawesome.com/cd832cb986.js"></script>
        <link rel="stylesheet" href="~/css/home.css"/>
        <link rel="stylesheet" href="~/css/Login.css"/>
        <link rel="stylesheet" href="~/css/_layout.css"/>
        <link rel="stylesheet" href="~/css/lokality.css">
        <link rel="stylesheet" href="~/css/odstavky.css">
        <link href="~/Images/CEZ-Logo.jpg">
    </head>

    <body>
        @if(User.Identity?.IsAuthenticated==true)   
        {
            
            <div class="Content">
                <div class="sidemenu">
                    <div class="s1">
                        <i class="fa-solid fa-bars fa-2xl" style="color: #ffffff;"></i>
                    </div>
                    <div class="s2">
                        <div style="display: flex; flex-direction: column;width: 97%;">

                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Home" class="a-sidebar" style="text-decoration: none; display: flex; flex-direction: row;">
                                        <i class="fa-solid fa-house-chimney-window" style="display: flex; justify-content: flex-end; width: 20px;"></i>
                                        <span class="sb">Home</span>  
                                    </a>
                                </li>
                                <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-person-running" style="display: flex; justify-content: flex-end; width: 20px; color:green;"></i>
                                            <span class="sb">Dnešní dieslovaní</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-hourglass-end" style="display: flex; justify-content:flex-end; width: 20px; color:yellow;"></i>
                                            <span class="sb">Dnešní nadcházející</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-regular fa-circle-xmark" style="display: flex; justify-content:flex-end; width: 20px; color:red;"></i>
                                            <span class="sb">Dnešní ukončené</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Home" class="a-sidebar" style="text-decoration: none; display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-globe" style="display: flex; justify-content:flex-end; width: 20px; color:blue;"></i>
                                            <span class="sb">Všechna dieslovaní</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                                 
                        
                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Lokality" class="a-sidebar" style="text-decoration: none; display: flex; flex-direction: row;"> 
                                        <i class="fa-solid fa-tower-broadcast" style="display: flex; justify-content:flex-end; width: 20px;"></i>
                                        <span class="sb">Lokality</span>  
                                    </a>
                                </li>
                                 <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="lokality" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px; color: white;"></i>
                                            <span class="sb">Všechny Lokality</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="vytvorenilokality" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px; color: white;"></i>
                                            <span class="sb">Vytvořit Lokalitu</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="regiony" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px; color: white;"></i>
                                            <span class="sb">Regiony</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="firmy" class="a-sidebar" style="text-decoration: none; display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px; color: white;"></i>
                                            <span class="sb">Firmy</span> 
                                        </a>
                                    </li>
                                     <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" class="a-sidebar" style="text-decoration: none; display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px; color: white;"></i>
                                            <span class="sb">Mapa</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        
                                 
                        
                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar" style="text-decoration: none; display: flex; flex-direction: row;"> 
                                        <i class="fa-solid fa-bolt" style="display: flex; justify-content:flex-end; width: 20px;"></i>
                                        <span class="sb">Odstávky</span>  
                                    </a>
                                </li>
                                 <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px; color: white;"></i>
                                            <span class="sb">Všechny Odstávky</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px;color:white"></i>
                                            <span class="sb">Vytvořit odstávku</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" asp-fragment="tablepohotovosti"class="a-sidebar"  style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-chevron-right" style="display: flex; justify-content:flex-end; width: 20px; color: white;"></i>
                                            <span class="sb">Tabulka pohotovostí</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
            
                </div>

                <div class="main">

                    <div class="header">
                        <nav id="navbar">
                           
                              
                            <div class="navdiv settings">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <div class="navdiv signout">
                                <a asp-action="Logout" asp-controller="Logout">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>   
                            <div class="navdiv add">
                                <i class="fa-solid fa-plus"></i>
                                <a>Add member</a>
                            </div>
                                <form asp-action="Test" asp-controller="Home" method="post">
                                    <button class="navdiv add" type="submit">Test</button>
                                </form>

                               
                            

                            <div id="app-cover">
                                <div id="select-box">
                                    <div class="user-icon">
                                        <i class="fa-solid fa-user"></i>
                                        
                                    </div>
                                    <a class="a-username">@User.Identity.Name</a>
                                    <input type="checkbox" id="options-view-button">
                                    <div id="options">
                                        <div class="option">
                                            <input class="s-c top" type="radio" name="platform" value="Profil">
                                            <input class="s-c bottom" type="radio" name="platform" value="Profil">
                                            <i class="fa-solid fa-user"></i>
                                            <span class="label">Profil</span>  
                                            <span class="opt-val">Profil</span>
                                        </div>
                                
                                    
                                        <div class="option">
                                            <input class="s-c top" type="radio" name="platform" value="Nastavení">
                                            <input class="s-c bottom" type="radio" name="platform" value="Nastavení">
                                            <i class="fa-solid fa-gear"></i>
                                            <span class="label">Nastavení</span>  
                                            <span class="opt-val">Nastavení</span>
                                        </div>
                                
                                
                                        <div class="option">
                                            <input class="s-c top" type="radio" name="platform" value="Podpora">
                                            <input class="s-c bottom" type="radio" name="platform" value="Podpora">
                                            <i class="fa-solid fa-circle-info"></i>
                                            <span class="label">Podpora</span>  
                                            <span class="opt-val">Podpora</span>
                                        </div>
                                
                                
                                        <div class="option">
                                            <a asp-action="Logout" asp-controller="Logout">   
                                                <input  class="s-c top" type="radio" name="platform" value="OdhlásitSe">
                                                <input class="s-c bottom" type="radio" name="platform" value="OdhlásitSe">
                                                
                                                <i class="fa-solid fa-right-from-bracket"></i>
                                                <span class="label">Odhlásit se</span>  
                                                <span class="opt-val">Odhlásit se</span>
                                            </a>
                                        </div>
                                
                                        </div>
                                        <div id="option-bg"></div>
                                    </div>
                                    
                                </div>

                        </nav>
                    </div> 
           
                            
                    @if(User.Identity?.IsAuthenticated==true)
                    {
                        @RenderBody()
                    }
 
            
                   




                </div>

       
                   
                
            </div> 
        }  
             @RenderBody()
            
            @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/home.js"></script>
    </body>
        
</html>
