@model Diesel_modular_application.Models.OdstavkyViewModel
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - Da_Modular_Application</title>
        <script src="https://kit.fontawesome.com/cd832cb986.js"></script>
        <link rel="stylesheet" href="~/css/dieslovani.css"/>
        <link rel="stylesheet" href="~/css/Login.css"/>
        <link rel="stylesheet" href="~/css/_layout.css"/>
        <link rel="stylesheet" href="~/css/lokality.css">
        <link rel="stylesheet" href="~/css/odstavky.css">
        <link rel="stylesheet" href="~/css/map.css">
        <link rel="stylesheet" href="~/css/graphs.css">
        <link rel="stylesheet" href="~/css/batteryView.css">
        <link href="~/Images/CEZ-Logo.jpg">
            <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
       
        <!-- JavaScript -->
        <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    </head>

    <body>
        @if(User.Identity?.IsAuthenticated==true)   
        {
            
            <div class="Content">
                <div class="sidemenu" id="sidemenu">
                    <div class="s1">
                        
                    </div>
                    <div class="s2">
                        <div style="display: flex; flex-direction: column;width: 97%;">
                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Dieslovani" class="a-sidebar" style="padding-left: 0px;">
                                        <i class="fa-solid fa-house-chimney-window navA"></i>
                                        <span class="sb">Dieslovaní</span>  
                                    </a>
                                </li>
                                <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Dieslovani" asp-fragment="runningTable" class="a-sidebar">
                                            <i class="fa-solid fa-person-running fa-sm navA"></i>
                                            <span class="sb">Dnešní Aktuální</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Dieslovani" asp-fragment="upcomingTable" class="a-sidebar">
                                            <i class="fa-solid fa-hourglass-end fa-sm navA"></i>
                                            <span class="sb">Dnešní nadcházející</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Dieslovani" asp-fragment="endTable" class="a-sidebar">
                                            <i class="fa-regular fa-circle-xmark fa-sm navA"></i>
                                            <span class="sb">Dnešní ukončené</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Dieslovani" asp-fragment="thrashTable" class="a-sidebar">
                                            <i class="fa-solid fa-trash fa-sm navA"></i>
                                            <span class="sb">Všechny nepřiřazené</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Dieslovani" asp-fragment="allTable" class="a-sidebar">
                                            <i class="fa-solid fa-globe fa-sm navA"></i>
                                            <span class="sb">Všechna dieslovaní</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                                 
                        
                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Lokality" class="a-sidebar" style="padding-left: 0px;"> 
                                        <i class="fa-solid fa-tower-broadcast navA"></i>
                                        <span class="sb">Lokality</span>  
                                    </a>
                                </li>
                                
                                 <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="regiony" class="a-sidebar">
                                            <i class="fa-solid fa-earth-europe fa-sm navA"></i>
                                            <span class="sb">Regiony</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="lokality" class="a-sidebar" >
                                            <i class="fa-solid fa-globe fa-sm navA"></i>
                                            <span class="sb">Všechny Lokality</span> 
                                        </a>
                                    </li>
                                 
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" asp-fragment="firmy" class="a-sidebar">
                                            <i class="fa-solid fa-building fa-sm navA"></i>
                                            <span class="sb">Firmy</span> 
                                        </a>
                                    </li>
                                     <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Lokality" class="a-sidebar" >
                                            <i class="fa-solid fa-map fa-sm navA"></i>
                                            <span class="sb">Mapa</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        
                                 
                        
                            <div class="sidebar">
                                <li class="li-sidebar" style="list-style: none;">
                                    <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar" style="padding-left: 0px;"> 
                                        <i class="fa-solid fa-bolt navA"></i>
                                        <span class="sb">Odstávky</span>  
                                    </a>
                                </li>
                                 <ul class="ul-sidebar">
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar">
                                            <i class="fa-solid fa-globe fa-sm navA"></i>
                                            <span class="sb">Všechny Odstávky</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" class="a-sidebar" style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-regular fa-square-plus fa-sm navA"></i>
                                            <span class="sb">Vytvořit odstávku</span> 
                                        </a>
                                    </li>
                                    <li class="li-sidebar">
                                        <a asp-action="Index" asp-controller="Odstavky" asp-fragment="tablepohotovosti"class="a-sidebar"  style="text-decoration: none;display: flex; flex-direction: row;">
                                            <i class="fa-solid fa-table fa-sm navA"></i>
                                            <span class="sb">Tabulka pohotovostí</span> 
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="main">

                    <div class="header">
                        <div class="navbarcontent" style="margin-left: 15px;">
                            <div class="navdiv bar" id="menu-toggle" style="border:none; box-shadow: none;">
                                <i class="fa-solid fa-bars fa-2xl"></i>
                            </div>
                        </div>
                        <div class="navbarcontent">
                            <div class="navdiv settings">
                                <i class="fa-solid fa-gear"></i>
                            </div>
                            <div class="navdiv signout">
                                <a asp-action="Logout" asp-controller="Logout">
                                    <i class="fa-solid fa-right-from-bracket"></i>
                                </a>
                            </div>   
                            @if(User.IsInRole("Admin"))
                            {
                                <div class="navdiv add">
                                    <i class="fa-solid fa-plus"></i>
                                    <a>Add member</a>
                                </div>
                                <div class="buttonTest"> 
                                    <button id="testButton" class="navdiv add" type="button" style="color: white; height: 33px;">Test</button>
                                </div>


                            }
                            <div class="navdiv" style="width: 30px; justify-content: center;">
                                <i class="fa-solid fa-user"></i>
                            </div> 
                        </div>
                    </div> 

                 
                    <div id="messageModal" class="modal">
                        <div id="modalContent" class="modal-content">
                            <span id="closeModal" class="close">&times;</span>
                            <p id="modalText"></p>
                        </div>
                    </div>
                    

                    


                            
                    @if(User.Identity?.IsAuthenticated==true)
                    {
                        @RenderBody()
                    }

                </div>
            </div> 
        }  
             @RenderBody()
            
            @await RenderSectionAsync("Scripts", required: false)
            <script src="~/js/Home.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
     
    </body>
        
</html>
