<div class="conteiner" id="con">
    <div class="tables-row formRow">
        <div class="section big">
            <div class="section small FORMS left" style="flex:7">
                <div class="detail energy">
                    <div class="logoForm">
                        <h2 class="h2-div"> <i class="fa-solid fa-circle-info fa-lg"></i></h2>
                    </div>
                    <div class="infowrapper user">
                        <form>
                            <p id="uzivatelskeJmeno">Uživatelské jméno: </p>
                            <p id="stav">Stav: </p>
                            <p id="nadrizeny">Nadřízený: </p>
                            <p id="firma">Firma: </p>
                            <p id="region">Region: </p>
                            <p id="jmeno">Jméno: </p>
                            <p id="prijmeni">Přijmení: </p>
                            <p id="tel">Tel. číslo: </p>
                        </form>
                        
                    </div>
                </div>
                <div class="detail User">
                    <div class="logoForm">
                        <h2 class="h2-div">Role <i class="fa-regular fa-circle-user fa-lg"></i></h2>
                    </div>
                    <div class="formINFO-D form">
                        <div style="border: none;">
                            <p id="role" style="font-weight: 800;"></p>
                        </div>
                    </div>                    
                </div>
                <div class="detail TASK">
                    <div class="logoForm">
                        <h2 class="h2-div">Popis <i class="fa-solid fa-circle-info fa-lg"></i></h2>
                    </div>
                    <div class="formINFO-D form">
                        <div style="border: none;">
                            <p id="popis"></p>
                        </div>

                    </div>                    
                </div>
            </div>
            <div class="section small FORMS right" style="flex:3" >
                <div class="detail diesel">
                    <div class="logoForm">
                        <h2 class="h2-div">Detail Dieslovani <i class="fa-solid fa-circle-info fa-lg"></i></h2>
                    </div>
                    <div class="formINFO-D info">
                        <div>
                            <img src="/Images/Profil-User.jpg" style="max-width: 200px; height: auto;">
                        </div>
                    </div>
                </div>
                <div class="detail Stav">
                    <div class="logoForm">
                    </div>
                    <div class="formINFO-D form stav">
                        
                    </div>     
                                       
                </div>
            </div>                
        </div>   
    </div>

    <div class="tables-row">
        <div class="section big">
            <div class="section small"> 
                <div class="nav-FRG">
                        <p id="vazby">VAZBY</p>
                    </div>
                <div style="display: none;" id="content-log"></div>
                <div class="table-div odstavkyTable" id="content-vazby">
                    
                </div>
            </div>
        </div>
            
        
    </div>
</div>