@model Diesel_modular_application.Models.OdstavkyViewModel
@using PagedList.Core.Mvc;
<html>
    <body>
        <div class="conteiner" id="con">
            <div class="tables-row" style="justify-content:center">
                <div class="table-div odstavkyTable" style="padding-top: 40px;">
                    <div class="name">
                        <h2 style="padding-right:20px; color: black;">Všechny odstávky <i class="fa-solid fa-bolt"></i></h2>
                        <div>
                            <span class="legenda">
                                Aktivní :
                                <i class="fa-solid fa-square" style="color: rgba(0, 128, 0, 0.371)"></i>
                            </span>
                            <span class="legenda">
                                Ukončené :
                                <i class="fa-solid fa-square" style="color: rgba(255, 0, 0, 0.382)"></i>
                            </span>
                            <span class="legenda">
                                Nekativni :
                                <i class="fa-solid fa-square" style="color: #0055ff28"></i>
                            </span>
                            <span class="legenda">
                                Nepřižazeno :
                                <i class="fa-solid fa-square" style="color:  rgba(255, 166, 0, 0.521"></i> 
                            </span>
                            <span class="legenda">
                                Čekající :
                                <i class="fa-solid fa-square" style="color: rgba(255, 255, 0, 0.321"></i>
                            </span>
                            
                            

                        </div>
                    </div>
                    <table id="odTable" style="margin-bottom: 15px;">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Distributor</th>
                                <th>Lokalita</th>
                                <th>Klasifikace</th>
                                <th>Od</th>
                                <th>Do</th>
                                <th>Adresa</th>
                                <th>Baterie<a> [min]</a></th>
                                <th>Popis</th>
                                <th>Zásuvka</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="table-body">     
                        </tbody>          
                    </table>   
                </div>
            </div>
            <div class="tables-row">
                <div class="section small OdstavkyView" style="flex-direction: row; width: 20%; flex: none;">
                    <div class="div-odstavka-create">
                        <form asp-action="Create" asp-controller="Odstavky" class="form-odstavky" style="border-radius: 5px;">
                            <div class="form">
                                <h2>Vytvořit odstávku:</h2>
                                <label>Lokalita:</label>
                                <div class="div-form">
                                    <input asp-for="AddOdstavka.Lokality.Lokalita" type="text" class="input odstavky">
                                </div>
                            </div>
                            <div class="form">
                                <label>Od:</label>
                                <input type="datetime-local" asp-for="AddOdstavka.Od" class="input odstavky"> 
                            </div>
                            <div class="form">
                                <label>Do:</label>
                                <input type="datetime-local" asp-for="AddOdstavka.Do" class="input odstavky">
                            </div>
                            <div class="form">
                                <label>Popis:</label>
                            
                                <textarea type="text" style="border-color:#cbd0dd; border-radius:5px;  "class="input-text" asp-for="AddOdstavka.Popis" class="input odstavky"></textarea>
                            </div>
                            
                            <button type="submit" class="button"><a class="text-button">Vytvořit</a></button>
                            <div class="alert alert-success">
                            @TempData["Zprava"]
                            </div>
                        </form>
                    </div>
                </div>
                <div class="section small OdstavkyView" style="width: 70%">
                    <div class="main-container OdstavkyView" >
                        <div class="year-stats lok">
                            <h3>Všechny odstávky: @Model.RegionStats.TotalOdstavky</h3>
                            <div class="regions odstavky">
                                @foreach (var region in Model.RegionStats.Regions)
                                {
                                    var percentage = region.Percentage;
                                    var remainingPercentage = 100 - percentage; // Spočítáme, kolik zůstává do 100%
                                    
                                    <div class="month-group odstavky">
                                        <div class="bar h-50" style="background-color: lightgrey; height:@remainingPercentage.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>
                                        <div title="@region.Percentage%" class="bar h-50" style="background-color:blue ; height:@region.Percentage.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)%;"></div>  

                                        <p class="p-lok">@region.RegionName</p>                       
                                    </div>

                                }
                            </div>
                        </div>          
                    </div>   
                </div>
            </div>
            <div class="tables-row" style="justify-content:center; margin-top: 20px; margin-bottom: 20px;">
                <div class="table-div odstavkyTable" id="tablepohotovosti" style="padding-top: 40px;">
                    <div class="name">
                        <h2 style="padding-right:20px; color: black;">Potovosti <i class="fa-solid fa-table"></i></h2>
                        <div>
                            <span class="legenda">
                                Volný :
                                <i class="fa-solid fa-square" style="color: rgba(0, 128, 0, 0.371)"></i>
                            </span>
                            <span class="legenda">
                                Obsazený :
                                <i class="fa-solid fa-square" style="color: rgba(255, 0, 0, 0.382)"></i>
                            </span> 
                              <span class="legenda">
                                Fiktivní technik :
                                <i class="fa-solid fa-square" style="color:  rgba(255, 166, 0, 0.521"></i> 
                            </span>    
                        </div>
                    </div>                
                    <table id="pohotovostTable">
                        <thead>
                            <tr>
                                <th>Jmeno</th>
                                <th>Tel</th>
                                <th>Firma</th>
                                <th>Začátek</th>
                                <th>Konec</th>
                                <th>Obsazenost</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>       
                </div>          
            </div>
        </div>
    </body>
</html>