<html>
    <body>
        <div class="div-odstavka-create">
        <form asp-action="Creae" asp-asp-controller="Odstavky">
            <label>Distributor:</label>
            <input>
            <label>Lokalita:</label>
            <input>
        </form>
   </div>
    </body>
</html>