@model Diesel_modular_application.Models.OdstavkyViewModel
@using PagedList.Core.Mvc;

@foreach (var lokality in Model.LokalityList)
{
    <tr class="table-row">
        <td>@lokality.Id</td>
        <td>@lokality.Lokalita</td>
                <td>@if(lokality.Klasifikace=="A1")
                    {
                        <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: #c91829; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">A1</span>
                        </span> 
                    }
                    @if(lokality.Klasifikace=="A2")
                    {
                        <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: orange; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">A2</span>
                        </span> 
                    }
                    @if(lokality.Klasifikace=="B1")
                    {
                        <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: yellow; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">B1</span>
                        </span> 
                    }
                    @if(lokality.Klasifikace=="B2")
                    {
                        <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: lightgreen; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">B2</span>
                        </span> 
                    }
                    @if(lokality.Klasifikace=="B")
                    {
                        <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">B</span>
                        </span> 
                    }
                        @if(lokality.Klasifikace=="C")
                    {
                        <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: green; border-radius: 5px; padding: 3px; width: 25px; height: 30px;">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">C</span>
                        </span> 
                    }
                    @if(lokality.Klasifikace=="D1")
                    {
                        <span class="badge badge-phoenix fs-10 badge-phoenix-success" style="background-color: blue; border-radius: 5px; padding: 3px; width: 25px; height: 30px; ">
                        <span class="badge-label" style="color: black; padding: 3px; font-size: medium; margin-right: 0px;">D1</span>
                        </span> 
                    }
                    
                </td>
        <td>@lokality.Adresa</td>
        <td>@lokality.Baterie</td>
        <td>
            @if(lokality.Zásuvka=="TRUE")
            {
                <i class="fa-solid fa-circle-check" style="color: #51fe06;"></i>
            }
            @if(lokality.Zásuvka=="FALSE")
            {
                <i class="fa-solid fa-ban" style="color: #ea0606;"></i>
            }
        </td>
        <td>
            @if(lokality.DA=="TRUE")
            {
                <i class="fa-solid fa-circle-check" style="color: #51fe06;"></i>
            }
            @if(lokality.DA=="FALSE")
            {
                <i class="fa-solid fa-ban" style="color: #ea0606;"></i>
            }
        </td>
    </tr>
}