@model Diesel_modular_application.Models.OdstavkyViewModel
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <main>
        <section class="section-time">
            <div>
                <a class="a-time">Čas:</a>
            </div>
            <div class="clock" id="clock">
                @{
                    var todayDate = DateTime.Now.ToString("dd.MM.yyyy");
                }
            </div>
        </section>
        <section class="tables-row">
            <div class="section small">
                <h2>Aktuální dieslování:</h2>
                <div class="table-div">
                    <table>
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="vstup">Vstup</th>
                                <th id="com"></th>
                                <th id="arrow"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model!=null)
                            {
                                @foreach (var odstavky in Model.OdstavkyList)
                                {

                                    @if (odstavky.Od.Equals(todayDate))
                                    {


                                        <tr>
                                            <td title="aktivni vstup"><span class="status green"></span>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="Odchod">
                                                <i class="fa-solid fa-arrow-right red-arrow"></i>
                                                <div class="overlay">
                                                    <span id="current-datetime"></span>
                                                    <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section small">
                <h2>Dnešní nadcházející:</h2>
                <div class="table-div">
                    <table id="upcoming-table">
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="objednano">Objednáno</th>
                                <th id="com"></th>
                                <th id="arrow"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var odstavky in Model.OdstavkyList)
                                {
                                    @if (odstavky.Od>DateTime.Now)
                                    {

                                        <tr>
                                            <td title="čeká se"><span class="status yellow"></span></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="Vstup">
                                                <i class="fa-solid fa-arrow-right green-arrow"></i>
                                                <div class="overlay">
                                                    <span id="current-datetime"></span>
                                                    <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }

                                    
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="section small">
                <h2>Dnešní ukončené:</h2>
                <div class="table-div">
                    <table>
                        <thead>
                            <tr>
                                <th id="stav">Stav</th>
                                <th id="lokalita">Lokalita</th>
                                <th id="klasifikace">Klasifikace</th>
                                <th id="firma">Firma</th>
                                <th id="odchod">Odchod</th>
                                <th id="com"></th>
                                <th id="clock"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                @foreach (var odstavky in Model.OdstavkyList)
                                {
                                    @if (odstavky.Od<DateTime.Now)
                                    {
                                        <tr>
                                            <td title="neaktivní"><span class="status red"></span></td>
                                            <td>@odstavky.Lokality.Lokalita</td>
                                            <td>@odstavky.Lokality.Klasifikace</td>
                                            <td></td>
                                            <td></td>
                                            <td title="komentář">
                                                <i class="fa-regular fa-comment comment-icon"></i>
                                                <div class="comment-box">
                                                    <textarea placeholder="Zadejte komentář..."></textarea>
                                                    <div class="comment-actions">
                                                        <i class="fa-solid fa-check" style="color: #1e9f27;"></i>
                                                        <i class="fa-solid fa-xmark close-comment" style="color: #c91829;"></i>
                                                    </div>
                                                </div>
                                            </td>
                                            <td title="celkový čas dieslování"><i class="fa-solid fa-clock"></i></td>
                                        </tr>
                                    }

                                }

                            }


                        </tbody>
                    </table>
                </div>    
            </div>
        </section>
        <section class="section">
            <h2>Všechny dnešní:</h2>
            <div class="table-div">
                <table id="todayall-table">
                    <thead>
                        <tr>
                            <th id="th-stav">Stav</th>
                            <th id="th-lokalita">Lokalita</th>
                            <th id="th-klasifikace">Klasifikace</th>
                            <th id="th-firma">Firma</th>
                            <th id="th-objednano">Objednáno</th>
                            <th id="th-vstup">Vstup</th>
                            <th id="th-odchod">Odchod</th>
                            <th id="th-poznamka">Poznámka</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            @foreach (var odstavky in Model.OdstavkyList)
                            {
                                <tr>
                                    <td id="td-stav">
                                        @if(odstavky.Od<DateTime.Now)
                                        {
                                            <span class="status red"></span>
                                        }
                                        @if (odstavky.Od > DateTime.Now)
                                        {
                                            <span class="status green"></span>
                                        }
                                    </td>
                                    <td id="td-lokalita">@odstavky.Lokality.Lokalita</td>
                                    <td id="td-klasifikace">@odstavky.Lokality.Klasifikace</td>
                                    <td id="td-firma"></td>
                                    <td id="td-objednano"></td>
                                    <td id="td-vstup"></td>
                                    <td id="td-odchod"></td>
                                    <td id="td-poznamka"></td>
                                </tr>
                               
                            }   
                        }
                    </tbody>
                </table>
            </div>    
        </section>

    </main>

</body>
</html>


