@{
    ViewData["Title"] = "Regiony Page";
}
<body>

    <div class="conteiner" id="con">
        <div class="tables-row">
            <div class="FormConteiner" id="PrahaStredniCehy">
                <div class="logoForm">
                    <h2 style="padding-right:20px; color: black;">Praha+ Střední Čechy<i class="fa-solid fa-earth-asia navB"></i></h2>
                </div>
                <div class="FormConteinerDiv">
                    <div class="formINFO-D Register">
                        <div>
                            <p id="psc-firma"><i class="fa-solid fa-building navA"></i>Firma: </p>
                        </div>
                        <div>
                            <p id="psc-distributor"><i class="fa-solid fa-bolt navA"></i>Distributor: </p>
                        </div>                
                    </div>
                    <div class="formINFO-D Register">
                
                        <div>
                            <p id="psc-pocet-odstavek"><i class="fa-solid fa-list-ol navA"></i>Počet Odstávek: </p>
                        </div>
                        <div>
                            <p id="psc-pocet-lokalit"><i class="fa-solid fa-list-ol navA"></i>Počet Lokalit: </p>
                        </div>
                        
                    </div>
                    <div id="psc-technici" class="formINFO-D Register"></div>

                </div>

            </div>
        
        </div>
        <div class="tables-row">
            <div class="FormConteiner" id="JizniMorava">
                <div class="logoForm">
                    <h2 style="padding-right:20px; color: black;">Jižní Morava<i class="fa-solid fa-earth-asia"></i></h2>
                </div>
                <div class="FormConteinerDiv">
                    <div class="formINFO-D Register">
                    
                        <div>
                            <p id="jm-firma"><i class="fa-solid fa-building navA"></i>Firma: </p>
                        </div>
                        <div>
                            <p id="jm-distributor"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor: </p>
                        </div>
                    
                    </div>
                    <div class="formINFO-D Register">
                
                        <div>
                            <p id="jm-pocet-odstavek"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek: </p>
                        </div>
                        <div>
                            <p id="jm-pocet-lokalit"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit: </p>
                        </div>
                        
                    </div>
                    <div id="jm-technici" class="formINFO-D Register"></div>
                </div>
                
            </div>
        
        </div>
        <div class="tables-row">
            <div class="FormConteiner" id="SeverniMorava">
                <div class="logoForm">
                    <h2 style="padding-right:20px; color: black;">Severní Morava<i class="fa-solid fa-earth-asia"></i></h2>
                </div>
                <div class="FormConteinerDiv">
                    <div class="formINFO-D Register">
                        <div>
                            <p id="sm-firma"><i class="fa-solid fa-building navA"></i>Firma: </p>
                        </div>
                        <div>
                            <p id="sm-distributor"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor: </p>
                        </div>
                    
                    </div>
                    <div class="formINFO-D Register">
                
                        <div>
                            <p id="sm-pocet-odstavek"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek: </p>
                        </div>
                        <div>
                            <p id="sm-pocet-lokalit"><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit: </p>
                        </div>
                        
                    </div>
                    <div id="sm-technici" class="formINFO-D Register"></div>

                </div>
                
            </div>
        
        </div>
        <div class="tables-row">
            <div class="FormConteiner" id="JizniCechy">
                <div class="logoForm">
                    <h2 style="padding-right:20px; color: black;">Jižní Čechy<i class="fa-solid fa-earth-asia"></i></h2>
                </div>
                <div class="FormConteinerDiv">
                    <div class="formINFO-D Register">
                    
                        <div>
                            <p><i class="fa-solid fa-building navA"></i> Firma: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor: </p>
                        </div>
                    
                    </div>
                    <div class="formINFO-D Register">
                
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit: </p>
                        </div>
                        
                    </div>
                    <div class="formINFO-D Register">
                    
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Technik: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Technik: </p>
                        </div>
                        
                    </div>

                </div>
            </div>
        
        </div>
        <div class="tables-row">
            <div class="FormConteiner" id="SeverniCehy">
                <div class="logoForm">
                    <h2 style="padding-right:20px; color: black;">Severní Čechy<i class="fa-solid fa-earth-asia"></i></h2>
                </div>
                <div class="FormConteinerDiv">
                    <div class="formINFO-D Register">
                    
                        <div>
                            <p><i class="fa-solid fa-building navA"></i>Firma: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor: </p>
                        </div>
                    
                    </div>
                    <div class="formINFO-D Register">
                
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit: </p>
                        </div>
                        
                    </div>
                    <div class="formINFO-D Register">
                    
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Technik: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Technik: </p>
                        </div>
                        
                    </div>

                </div>
            </div>
        
        </div>
        <div class="tables-row" style="margin-bottom: 20px;">
            <div class="FormConteiner" id="ZapadniCechy">
                <div class="logoForm">
                    <h2 style="padding-right:20px; color: black;">Západní Čechy<i class="fa-solid fa-earth-asia"></i></h2>
                </div>
                <div class="FormConteinerDiv">
                    <div class="formINFO-D Register">
                    
                        <div>
                            <p><i class="fa-solid fa-building navA"></i>Firma: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Distributor: </p>
                        </div>
                    
                    </div>
                    <div class="formINFO-D Register">
                
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Odstávek: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Počet Lokalit: </p>
                        </div>
                        
                    </div>
                    <div class="formINFO-D Register">
                    
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Technik: </p>
                        </div>
                        <div>
                            <p><i class="fa-solid fa-location-dot fa-lg fa-sm navA"></i>Technik: </p>
                        </div>
                        
                    </div>

                </div>
                
            </div>
        
        </div>
            
    </div>
</body>