

.section-lokality{
    width: 100%;
    display: flex;
    
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
  

}
.form-import{
    box-shadow: none;
    border:none;
    padding: 10px;
}
.sctn.search{
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  height: 42px;
  width: 95%;
}
.sctn{
  display: flex;
  flex-direction: column;
}
.sctn.import{
  max-width: 550px;
}

.sctn.first{
  justify-content: flex-start;
  flex-direction: row;
  width: 95%;
  
}

.sctn.adresa{
  width: 95%;
 

}
.fr.adresa{
  height: 100%;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}
.adresa.mesto,.adresa.PSČ,.adresa.Ulice{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  margin: 5px;
  margin-left: 25px;
  height: 30px;
}
.adresa.mesto,.adresa.Ulice{
  width: 66%;
}
.adresa.PSČ{
  width: 45%;
}

.input.adresa.PSC{
  width: 80px;
}
.input.adresa
{
  width: 160px;
  border-radius: 0;
  background-color: white;
  height: 18px;
  font-size: large;
 
}
.button-odstavka
{
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 2px;
  background-color: rgb(0, 17, 255);
  font-style: inherit;
  color: white;
  font-size: larger;
  cursor: pointer;
}

/*SELECT BOX*/
.fr{
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    width: 190px;
    height: 42px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
    padding: 3;
   
}

#select-box
{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.brd{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    
}
#app-cover {
    position: sticky;
   
    z-index: 1;
    padding: 0px;
    box-shadow: none;
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#select-button {
    position: relative;
    height: 16px;
    padding: 12px 6px;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}
#options-view-button {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

#selected-value {
    font-size: 16px;
    line-height: 1;
    margin-right: 26px;
}
.option i {
    width: 16px;
    height: 16px;
}
  .option,
  .label {
    color: #2d3667;
    font-size: 16px;
}

#chevrons {
    position: absolute;
    right: 2px;
    width: 12px;
    padding: 9px 14px;
}


#chevrons i {
    display: block;
    height: 30%;
    color: #d1dede;
    font-size: 12px;
    text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
    color: #2d3667;
}

.options {
    position: absolute;
    left: 0;
   width: 100%;
  }

#options{
    position: absolute;
    top: 55px;
    right: 0;
    left: -120px;
    width: 160px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 4px;
}
#options-view-button:checked ~ #options {
    border: 1px solid #e2eded;
    border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  }
  .option{
    position: relative;
   
    line-height: 1;
    transition: 0.3s ease all;
    z-index: 2;
}

.option i {
  
    position: absolute;
    left: 14px;
    padding: 0;
    display: none;
}

#options-view-button:checked ~ #options .option i {
    display: block;
    padding: 12px 0;
}
.label {
    display: none;
    padding: 0;
    margin-left: 27px;
}
#options-view-button:checked ~ #options .label {
    display: block;
    padding: 12px 14px;
}
.s-c {
position: absolute;
left: 0;

}
.s-c.top {
top: 0;
}

.s-c.bottom {
bottom: 0;
}

input[type="radio"] {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
  }

  .s-c:hover ~ i {
    color: #fff;
    opacity: 0;
  }

  .s-c:hover {
    height: 100%;
    z-index: 1;
  }

  .s-c.bottom:hover + i {
    bottom: -25px;
    animation: moveup 0.3s ease 0.1s forwards;
  }
  
  .s-c.top:hover ~ i {
    top: -25px;
    animation: movedown 0.3s ease 0.1s forwards;
  }
  @keyframes moveup {
    0% {
      bottom: -25px;
      opacity: 0;
    }
    100% {
      bottom: 0;
      opacity: 1;
    }
  }

  @keyframes movedown {
    0% {
      top: -25px;
      opacity: 0;
    }
    100% {
      top: 0;
      opacity: 1;
    }
  }
  .label {
    transition: 0.3s ease all;
  }
  
  .opt-val {
    position: absolute;
    left: 14px;
    width: 217px;
    height: 21px;
    opacity: 0;
    background-color: #fff;
    transform: scale(0);
  }
  .option input[type="radio"]:checked ~ .opt-val {
    opacity: 1;
    transform: scale(1);
  }
  .option input[type="radio"]:checked ~ i {
    top: 0;
    bottom: auto;
    opacity: 1;
    animation: unset;
  }
  .option input[type="radio"]:checked ~ i,
  .option input[type="radio"]:checked ~ .label {
    color: #fff;
  }
  .option input[type="radio"]:checked ~ .label:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  #options-view-button:not(:checked)
  ~ #options
  .option
  input[type="radio"]:checked
  ~ .opt-val {
  top: -30px;
  }
  .option:nth-child(1) input[type="radio"]:checked ~ .label:before {
    background-color: #000;
    border-radius: 4px 4px 0 0;
  }
  
  .option:nth-child(1) input[type="radio"]:checked ~ .opt-val {
    top: -31px;
  }
  .option:nth-child(2) input[type="radio"]:checked ~ .label:before {
    background-color: #ea4c89;
  }
  
  .option:nth-child(2) input[type="radio"]:checked ~ .opt-val {
    top: -71px;
  }
  .option:nth-child(3) input[type="radio"]:checked ~ .label:before {
    background-color: #0057ff;
  }
  
  .option:nth-child(3) input[type="radio"]:checked ~ .opt-val {
    top: -111px;
  }
  
  .option:nth-child(4) input[type="radio"]:checked ~ .label:before {
    background-color: #32c766;
  }
  
  .option:nth-child(4) input[type="radio"]:checked ~ .opt-val {
    top: -151px;
  }
  
  .option:nth-child(5) input[type="radio"]:checked ~ .label:before {
    background-color: #f48024;
  }
  
  .option:nth-child(5) input[type="radio"]:checked ~ .opt-val {
    top: -191px;
  }
  
  .option:nth-child(6) input[type="radio"]:checked ~ .label:before {
    background-color: #006400;
  
  }
  .option:nth-child(6) input[type="radio"]:checked ~ .opt-val {
    top: -231px;
  }

  .option:nth-child(7) input[type="radio"]:checked ~ .label:before {
    background-color: #006400;
    border-radius: 0 0 4px 4px;
  }
  
  .option:nth-child(7) input[type="radio"]:checked ~ .opt-val {
    top: -271px;
  }

  #option-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
    transition: 0.3s ease all;
    z-index: 1;
    display: none;
  }
  
  #options-view-button:checked ~ #options #option-bg {
    display: block;
  }
  
  .option:hover .label {
    color: #fff;
  }
  
  .option:nth-child(1):hover ~ #option-bg {
    top: 0;
    background-color: #000;
    border-radius: 4px 4px 0 0;
  }
  
  .option:nth-child(2):hover ~ #option-bg {
    top: 40px;
    background-color: #ea4c89;
  }
  
  .option:nth-child(3):hover ~ #option-bg {
    top: 80px;
    background-color: #0057ff;
  }
  
  .option:nth-child(4):hover ~ #option-bg {
    top: 120px;
    background-color: #32c766;
  }
  
  .option:nth-child(5):hover ~ #option-bg {
    top: 160px;
    background-color: #f48024;
  }
  
  .option:nth-child(6):hover ~ #option-bg {
    top: 200px;
    background-color: #f48024;
    
  }
  .option:nth-child(7):hover ~ #option-bg {
    top: 240px;
    background-color: #9f8e20;
    border-radius: 0 0 4px 4px;
  }

  
/*END SELECT BOX*/


.fa-solid.fa-id-badge, .fa-solid.fa-tower-broadcast, .fa-solid.fa-star, .fa-solid.fa-clock,.fa-solid.fa-house,.fa-solid.fa-battery-full, .fa-solid.fa-plug{
    margin-left: 3px;
}
::-webkit-scrollbar{
    width: 5px;

}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(0,0, 0);
}
::-webkit-scrollbar-thumb{
 border-radius: 5px;
 background-color: rgb(180, 187, 187);
}
.table-lokality{
 
   border-radius: 10px;  
   width: 100%;
   overflow: auto;
   table-layout: auto;
   border-collapse: collapse;
}
tbody{
    table-layout: auto;


}
thead{
    position:sticky;
    top:0;
}
.lokalityTable{
  top:90px;
  position: sticky;
}
th,td{
    border: none;  
}
tr:nth-child(even) {
    background-color: #d4d4d444;
}

tr:hover{
    background-color: rgb(138, 138, 182);
}
.div-lokality-menu{
    margin-right: 10px;
    
}



.lokality-class-menu{
    list-style: none;
    background-color: rgba(0, 0, 0, .1);
    border-radius:10px;
    display: flex;
    flex-direction: column;
    padding: 5px;    
}
.table-div.import{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 246px;
}
.table-div.import.A{
  width: 400px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: small;
}
.table-div.import.B{
  width: 300px;
  height: 200px;
}
.table-div.import.C{
  width: 95%;
  height: 100%;
  padding: 10px 0 0 0;
}
.div-import-lokality{
  display: flex;
  width: 95%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
  flex-wrap: wrap;
}
.table-div.lokality{
  width: 95%;
  margin-bottom: 20px;
  max-height: 500px;
}
.h1-import{
    margin-top: 0;
}
.form-class{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-control{
    width: 95%;
    
}

.btn{
    color: white;
    background-color: blue;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 5px;
}

:root {
    --rad: .7rem;
    --dur: .3s;
    --color-light: #fff;
    --color-brand: #57bd84;
    --font-fam: 'Lato', sans-serif;
    --height: 35px;
    --btn-width: 6rem;
    --bez: cubic-bezier(0, 0, 0.43, 1.49);
  }
  
.form-import.Search {
  position: relative;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    height: 35px;
    border-radius: 5px;
    align-items: center;
    flex-direction: row;
    width: 240px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .InputSearching, .buttonsearch {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
    
  }
  input[type="search"] {
    outline: 0; 
    background: var(--color-light);
    font-size: small;
    border-radius: var(--rad);
    appearance: none; 
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: sticky;
  }
  .buttonsearch {
    display: none; 
    width: 50px;
    right: 0;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 17, 255);
    border-radius: 0 5px 5px 0;;
  }
  .InputSearching:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(120% - var(--btn-width));
    + .buttonsearch {
      display: flex;
      align-items: center;
      height: 100%;
      transition: 0.4s;

    }
  }