

.odstavky-section{
    display: flex;
    justify-content: space-around;
    background-color: 227, 230, 237;
    flex-direction: column;
    
}

.div-odstavka-create{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 95%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
}
.form-odstavky{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: white;
  
}
input:focus{
    outline: none;
}
input{
    border-radius: 10px;
    border: none;
    padding: 5px;       
       
}
.input.odstavky{
    border-radius: 5px;
    border: 1px solid #cbd0dd;;
}
.div-form{
    display: flex;   
    align-items: baseline;
    justify-content:center;
    border-radius: 10px;
    width: 50%;

}
.form{
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    margin-bottom: 15px;
    align-items: center;
}
label{
    font-size: larger;
}
.fa-solid.fa-solid.fa-magnifying-glass{
    margin-right: 3px;
    padding: 2px;
}

.input-lokalita{
width: 70%;
}

.input-text{
    width: 85%;
    height: 100px;
}
.button{
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: rgb(0, 17, 255);
}

.button:hover{
   
    border-color: transparent;
    scale: 1.05;
    transition: 0.3s;
    
}
.text-button{
    font-style:inherit;
    font-size: larger;
}
.tables{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}


.table-div.odstavkyTable{
    border-radius: 0px;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 99%;
    background-color: white;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.name{
    position: absolute;
    flex-direction: row;
    align-items: baseline;
    display: flex;
    top: 0;
    left:5px;
}
.legenda{
    margin-left: 5px;
}


table.dataTable thead th,table.dataTable tbody td {
    padding: 0px 30px 0px 5px !important
}
table.dataTable tbody tr{
    border-bottom: 1px inset !important;
    position: relative;
}
.table-div.odstavkyTable.Lokality_Odstavky{
    width: 100%;
}
.table-div.odstavkyTable.end{
    width: 100%;
}
.table-div.import.C.odstavky{
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    max-height: 750px;

}
.buttondiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sctn.search.odstavkyTable{
    justify-content: space-between;
    padding-bottom: 30px;
}
.menu{
    height: 40px;
    width: 100%;
    border-top: 1px solid #cbd0dd;
    border-bottom: 1px solid #cbd0dd;;
}
.menu-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    align-items: center;
    height: 100%;
}
.menu-text{
    font-size: larger;
    padding: 10px;
}
.div-odstavky-table{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 105px;
    margin-top: 30px;

}





.main-container.OdstavkyView{

    height: 413px;
    width: 95%;
    background-color: white;
    color: black;
}
.graph-container.p.OdstavkyView{
    color: black;
}
.section.small.OdstavkyView{
    justify-content: center;
    margin-top: 30px;
}